<footer>
  <div class="container">
    <div class="row">
      <div>
        <a href="https://www.facebook.com/RickandMorty/" target="_blank">
          <img src="img/facebook.png" alt="first link">
        </a>
        <a href="https://www.facebook.com/RickandMorty/" target="_blank">
          <img src="img/facebook.png" alt="second link">
        </a>
        <a href="https://www.facebook.com/RickandMorty/" target="_blank">
          <img src="img/facebook.png" alt="third link">
        </a>
      </div>
      <div class="col">
        © 2023 Рік і Морті Авантюра. Усі права захищені.
      </div>
    </div>
  </div>
</footer>
