<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        © 2023 Rick and Morty Adventure. All rights reserved.
      </div>
      <div>
        <p class="link-title">Developers Github</p>
        <div class="developers-links">
          <a
            href="https://github.com/waridesu"
            target="_blank"
            class="link"
            [innerHtml]="githubIcon | async"
          ></a>
          <a
            href="https://github.com/OliaChuzhdiuk"
            target="_blank"
            class="link"
            [innerHtml]="githubIcon | async"
          ></a>
          <a
            href="https://github.com/AntoninaHoncharenko"
            target="_blank"
            class="link"
            [innerHtml]="githubIcon | async"
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
