<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="col">© 2023 Rick and Morty Adventure. All rights reserved.</p>
      <div>
        <p class="link-title">Developers Github</p>
        <div class="developers-links">
          <a href="https://github.com/waridesu" target="_blank" class="link"
            ><svg width="30" height="30" class="gh-icon">
              <use href="../../../assets/sprite.svg#icon-github"></use></svg
          ></a>
          <a
            href="https://github.com/OliaChuzhdiuk"
            target="_blank"
            class="link"
            ><svg width="30" height="30" class="gh-icon">
              <use href="../../../assets/sprite.svg#icon-github"></use></svg
          ></a>
          <a
            href="https://github.com/AntoninaHoncharenko"
            target="_blank"
            class="link"
            ><svg width="30" height="30" class="gh-icon">
              <use href="../../../assets/sprite.svg#icon-github"></use></svg
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
