$padding-medium: 40px;
$padding-large: 60px;
$font-size-small: 14px;
$font-size-medium: 20px;
$font-size-large: 26px;
$font-size-xlarge: 28px;
$padding-base: 16px;
$padding-mobile: 32px;
$padding-desktop: 40px;
$transition-base: 250ms linear;
$border-radius-large: 32px;
$border-radius-xlarge: 40px;
$font-weight-heavy: 600;
$color-white: white;
$color-black: #160b03;
$background-color-transparent: transparent;
$background-color-lightblue: rgba(17, 176, 200, 0.3);
$button-hover-effect: translateY(+5%);
$button-shadow-effect: inset 0 0 58px 2px rgba(0, 0, 0, 0.3);
$color-primary: rgba(17, 176, 200, 1);
$color-secondary: rgba(135, 245, 78, 1);
$color-shadow-secondary: rgba(135, 245, 78, 0.5);
.location {
  padding: 90px 0 30px;
  position: relative;
  @media (min-width: 768px) {
    padding: $padding-medium 0;
  }
  @media (min-width: 1200px) {
    padding: $padding-large 0;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 $padding-base;
    @media (min-width: 375px) {
      width: 375px;
    }
    @media (min-width: 768px) {
      padding: 0 $padding-mobile;
      width: 768px;
    }
    @media (min-width: 1200px) {
      padding: 0 $padding-desktop;
      width: 1200px;
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (min-width: 768px) {
      flex-direction: row;
      width: 630px;
    }
    @media (min-width: 1200px) {
      align-items: center;
      width: 700px;
      margin-left: 330px;
    }
  }

  &__planet-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -20px;
    right: -50px;
    @media (min-width: 768px) {
      width: 300px;
      height: 300px;
    }
    @media (min-width: 1200px) {
      width: 400px;
      height: 400px;
      left: 0;
      top: 50px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 340px;
    padding: 30px;
    border-radius: $border-radius-xlarge;
    background-image: linear-gradient(rgba(17, 176, 200, 0.5) 0%, rgba(17, 176, 200, 0.25) 50%, rgba(17, 176, 200, 0.02) 100%);
    box-shadow: 0px -30px 90px 40px rgba(17, 176, 200, 0.3);
    @media (min-width: 768px) {
      width: 380px;
      gap: 10px;
    }
    @media (min-width: 1200px) {
      width: 400px;
    }
  }

  &__card-btn, &__resident-btn {
    width: 160px;
    height: 40px;
    display: block;
    margin: 40px auto 0;
    border: 1px solid $color-white;
    border-radius: $border-radius-large;
    background-color: $background-color-transparent;
    cursor: pointer;
    font-size: $font-size-small;
    transition: $transition-base;
    color: $color-white;

    &:hover {
      transform: $button-hover-effect;
      box-shadow: $button-shadow-effect;
    }

    @media (min-width: 768px) {
      font-size: $font-size-medium;
      margin-top: 50px;
    }
  }

  &__card-title, &__card-text {
    font-size: $font-size-medium;
    color: $color-white;
    margin-left: 30px;
    @media (min-width: 768px) {
      font-size: $font-size-large;
    }
  }

  &__action-btn {
    display: block;
    width: 180px;
    height: 55px;
    padding: 4px;
    margin: 0 auto;
    border: 2px solid #11b0c8;
    background-color: $background-color-lightblue;
    box-shadow: 0 2px 56px 17px $color-primary;
    color: $color-white;
    font-size: $font-size-medium;
    border-radius: $border-radius-large;
    cursor: pointer;
    transition: $transition-base;
    @media (min-width: 768px) {
      margin: 250px 0 0 0;
      width: 210px;
      height: 70px;
      font-size: $font-size-medium;
    }
    @media (min-width: 1200px) {
      margin: 0;
      width: 230px;
    }

    &:hover {
      transform: $button-hover-effect;
      border-color: #87f54e;
      background-color: rgba(135, 245, 78, 0.3);
      box-shadow: 0 2px 55px 27px $color-secondary;
    }

    &.show-more {
      display: block;
      margin: 40px auto 0;
    }
  }

  &__resident-btn {
    border: 1px solid $color-black;
    color: $color-black;
    gap: 30px;
    margin-top: auto;
    margin-bottom: 16px;
  }

  &__residents-list {
    @media (min-width: 768px) {
      width: 680px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      width: 780px;
      gap: 20px;
    }
  }

  &__resident-card {
    display: grid;
    grid-template-rows:repeat(6, auto);
    margin: auto;
    width: 240px;
    border-radius: 28px;
    background-color: $color-secondary;
    overflow: hidden;
    box-shadow: 0 0 20px 5px $color-shadow-secondary;
    transition: $transition-base;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    & > :nth-child(5) {
      margin-bottom: 40px;
    }

    @media (min-width: 768px) {
      width: 215px;
    }

    &-img {
      align-self: start;
      object-fit: contain;
      margin-bottom: 16px;
    }

    &-title, &-text {
      color: $color-black;
      padding-inline: 16px;
    }

    &-text {
      font-size: $font-size-medium;
    }

    &-title {
      font-size: $font-size-large;
    }

  }

  &__resident-cards {
    margin-top: 70px;

    &-title {
      font-size: 22px;
      font-weight: 600;
      color: $color-white;
      text-align: center;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
  }

  .empty {
    width: fit-content;
    margin: 40px auto 0;
    color: white;
    font-size: 30px;
  }
}
