.hero-img {
  width: 250px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-rotate 40s 1;

  &:hover {
    animation-play-state: paused;
  }

  @media (min-width: 768px) {
    width: 380px;
  }
  @media (min-width: 1200px) {
    width: 500px;
  }
}

@keyframes slide-rotate {
  0% {
    transform: translateX(-50%) scale(0.1);
  }
  20% {
    transform: translateX(-50%) scale(1);
  }
  25% {
    transform: translateX(-50%) rotate(-5deg);
  }
  30% {
    transform: translateX(-50%) rotate(5deg);
  }
  35% {
    transform: translateX(-50%) rotate(-5deg);
  }
  40% {
    transform: translateX(-50%) rotate(5deg);
  }
  45% {
    transform: translateX(-50%) rotate(-5deg);
  }
  50% {
    transform: translateX(-50%) rotate(5deg);
  }
  55% {
    transform: translateX(-50%) rotate(-5deg);
  }
  60% {
    transform: translateX(-50%) rotate(5deg);
  }
  65% {
    transform: translateX(-50%) rotate(-5deg);
  }
  70% {
    transform: translateX(-50%) rotate(5deg);
  }
  75% {
    transform: translateX(-50%) rotate(-5deg);
  }
  80% {
    transform: translateX(-50%) rotate(5deg);
  }
  85% {
    transform: translateX(-50%) rotate(-5deg);
  }
  90% {
    transform: translateX(-50%) rotate(5deg);
  }
  100% {
    transform: translateX(-50%) rotate(-5deg);
  }
}
