<section *ngIf="randomEpisode$ | async as episode" class="section">
  <div class="container">
    <div class="wrap">
      <button type="button" class="generate-btn" (click)="generateEpisode()">Teleport</button>
      <div class="episode-wrap">
        <ul class="episode-list">
          <li class="episode-item">
            <p class="episode-title">Name:</p>
            <p class="episode-text">{{ episode.name }}</p>
          </li>
          <li class="episode-item">
            <p class="episode-title">Date:</p>
            <p class="episode-text">{{ episode.air_date }}</p>
          </li>
          <li class="episode-item">
            <p class="episode-title">Episode:</p>
            <p class="episode-text">{{ episode.episode }}</p>
          </li>
        </ul>
        <button type="button" class="episode-btn" (click)="addToFavorite(episode, $event)">add to favorite</button>
      </div>
      <app-planet [bgImageUrl]="'./assets/sun.webp'" class="episode-img"/>
    </div>

    <div *ngIf="isCharacterArray(episode.characters)" class="character-wrap">
      <h3 class="character-title">Characters {{displayLimit}}</h3>
      <ul class="character-list">
        <li *ngFor="let char of episode.characters | slice: 0 : displayLimit; trackBy: trackByFunction" class="character-item">
          <img [src]="char.image" alt="character" class="character-img" />
          <p class="character-name">{{ char.name }}</p>
        </li>
      </ul>
      <button class="generate-btn show-more" (click)="showMore(episode.characters)" *ngIf="displayLimit < episode.characters.length">Show More</button>
    </div>
  </div>

</section>
