<section class="section">
  <div class="container">
    <h2 class="title">Characters</h2>
    <ul class="favorite-list">
      <li class="character-item">
        <img
          src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
          alt="resident"
          class="character-img"
        />
        <div class="info-wrap">
          <ul class="info-list">
            <li class="info-item">Name: <span class="info-text">Name</span></li>
            <li class="info-item">
              Status: <span class="info-text">Status</span>
            </li>
            <li class="info-item">
              Species: <span class="info-text">Species</span>
            </li>
            <li class="info-item">Type: <span class="info-text">Type</span></li>
            <li class="info-item">
              Gender: <span class="info-text">Gender</span>
            </li>
            <li class="info-item">
              Origin: <span class="info-text">Origin</span>
            </li>
          </ul>
          <button type="button" class="character-btn btn">
            remove from favorite
          </button>
        </div>
      </li>
    </ul>

    <h2 class="title">Locations</h2>
    <ul class="favorite-list">
      <li class="location-wrap">
        <ul class="location-list">
          <li class="location-item">
            <p class="location-title">Planet:</p>
            <p class="location-text">Planet</p>
          </li>
          <li class="location-item">
            <p class="location-title">Type:</p>
            <p class="location-text">Type</p>
          </li>
          <li class="location-item">
            <p class="location-title">Dimension:</p>
            <p class="location-text">Dimension</p>
          </li>
        </ul>
        <button type="button" class="location-btn btn">
          remove from favorite
        </button>
      </li>
    </ul>

    <h2 class="title">Episodes</h2>
    <ul class="favorite-list">
      <li class="episode-wrap">
        <ul class="episode-list">
          <li class="episode-item">
            <p class="episode-title">Name:</p>
            <p class="episode-text">Name</p>
          </li>
          <li class="episode-item">
            <p class="episode-title">Date:</p>
            <p class="episode-text">Date</p>
          </li>
          <li class="episode-item">
            <p class="episode-title">Episode:</p>
            <p class="episode-text">Episode</p>
          </li>
        </ul>
        <button type="button" class="episode-btn btn">
          remove from favorite
        </button>
      </li>
    </ul>
  </div>
</section>
