.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 375px) {
    width: 375px;
  }
  @media (min-width: 768px) {
    padding: 0 32px;
    width: 768px;
  }
  @media (min-width: 1200px) {
    padding: 0 40px;
    width: 1200px;
  }
}

.card {
  margin: 10px;
  cursor: pointer;
  align-self: stretch;
  width: 180px;
  list-style: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  background: #87f54e;
}
.card_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card_name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;

  color: rgba(0, 0, 0, 0.87);
  margin-left: 10px;
  margin-top: 10px;
}

.card_info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  padding-bottom: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}
.random-character {
  display: grid;
  grid-template-columns:  1fr;
  justify-items: center;

  h2 {
   color: white;
  }
}
