<section class="random-character" *ngIf="randomCharacter$ | async as person">
  <button
    type="button"
    class="generate-btn main-btn"
    (click)="generateCharacter()"
  >
    Teleport
  </button>  <div
    class="card"
    *ngIf="randomCharacter$ | async as person">
    <img class="card_image" [src]="person.image" alt="pesson image" />
    <div class="wrap">
      <div class="card-info">
        <h3 class="card_name">{{ person.name }}</h3>
        <ul>
          <li class="info-item">
            <p class="info-title">
              Status: <span class="info-text">{{ person.status }}</span>
            </p>
          </li>
          <li class="info-item">
            <p class="info-title">
              Species: <span class="info-text">{{ person.species }}</span>
            </p>
          </li>
          <li class="info-item">
            <p class="info-title">
              Type: <span class="info-text">{{ person.type }}</span>
            </p>
          </li>
          <li class="info-item">
            <p class="info-title">
              Gender: <span class="info-text">{{ person.gender }}</span>
            </p>
          </li>
          <li class="info-item">
            <p class="info-title">
              Origin: <span class="info-text">{{ person.origin.name }}</span>
            </p>
          </li>
        </ul>
      </div>
      <button type="button" class="character-btn" (click)="addToFavorite(person, $event)">add to favorite</button>
    </div>
    <img
      ngSrc="./assets/planet-character.png"
      alt="planet"
      class="planet-img"
      height="345" width="345"/>
  </div>
  <button
    type="button"
    class="generate-btn mob-btn"
    (click)="generateCharacter()"
  >
Teleport
  </button>
</section>
