.residents-wrap {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.residents-title {
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.residents-list {
  // width: 780px;
  display: flex;

  margin: 0 auto;
}

.residents-item {
  width: 240px;
  border-radius: 28px;
  background-color: #87f54e;
  overflow: hidden;
  box-shadow: 0px 0px 20px 5px rgba(135, 245, 78, 0.5);
}

.resident-img {
  width: 100%;
  height: 240px;
}
