<div class="residents-wrap">
  <img
    src="../../../assets/4-44144_rick-and-morty-png.png"
    alt=""
    class="teleport-img"
  />
  <ul class="residents-list" (window:scroll)="onScroll()">
    <li
      class="residents-item"
      *ngIf="randomCharacter$ | async as person"
      routerLink="/character-detail/{{ person.id }}"
    >
      <img [src]="person.image" alt="resident" class="resident-img" />
      <div class="info-wrap">
        <ul class="info-list">
          <li class="info-item">
            <p class="info-title">Name:</p>
            <p class="info-text">{{ person.name }}</p>
          </li>
          <li class="info-item">
            <p class="info-title">Status:</p>
            <p class="info-text">{{ person.status }}</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <button type="button" *ngIf="loading" class="resident-btn">
    add to favorite
  </button>
</div>
