:host {
  display:inline-block;
  margin: 5px;
  border-radius: 50%;
  box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
  animation: spin 5s linear infinite;
  transform: rotateZ(-10deg);
}

@keyframes spin {
  to {
    background-position:200% 0;
  }
}
