.section {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 40px 0;
  }
}

.statistics-list {
  width: 180px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 690px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    width: 900px;
  }
}

.statistics-item {
  width: 180px;
  margin-bottom: 90px;

  @media (min-width: 768px) {
    width: 230px;
    margin: 0;
  }
  @media (min-width: 1200px) {
    width: 250px;
  }
}

.title {
  font-weight: 600;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    font-size: 28px;
    margin-bottom: 90px;
    font-size: 28px;
  }
}

.amount-wrap {
  width: 150px;
  height: 150px;
  padding-top: 45px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(135, 245, 78, 0.3);
  box-shadow: 0 2px 55px 27px rgba(135, 245, 78, 1);
  transition: 250ms linear;

  @media (min-width: 768px) {
    width: 130px;
    height: 130px;
    padding-top: 40px;
  }
  @media (min-width: 1200px) {
    width: 150px;
    height: 150px;
    padding-top: 45px;
  }

  &:hover {
    transform: scale(1.1);
    background-color: rgba(17, 176, 200, 0.3);
    box-shadow: 0 2px 56px 17px rgba(17, 176, 200, 1);
  }
}

.amount {
  font-size: 38px;
  color: white;
  text-align: center;
}
