<section class="section">
  <ul class="statistics-list">
    <li class="statistics-item">
      <h2 class="title">Received characters</h2>
      <div class="amount-wrap"><p class="amount">{{ character }}</p></div>
    </li>
    <li class="statistics-item">
      <h2 class="title">Received locations</h2>
      <div class="amount-wrap"><p class="amount">{{ location }}</p></div>
    </li>
    <li class="statistics-item">
      <h2 class="title">Received episodes</h2>
      <div class="amount-wrap"><p class="amount">{{ episode }}</p></div>
    </li>
  </ul>
</section>
